body {background-color:#dcdcdc;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size: 1rem;font-weight: 400;line-height: 1.5;color: #212529;text-align: left;}
a {text-decoration: none;color:grey;font-size: 16px;transition:0.5s}
a:hover {color:black;}
ul {list-style: none;}
.navbar {position:fixed;top:0;width:100%;height:60px;background-color: #222222;margin-left: -8px;z-index:9999;}
.nav-item {color: grey !important;display: table-cell;}
.nav-link {padding:15px 5px;transition:0.2s;}
.nav-link:hover {color: #fff;}
.nav-item:hover::after {width:100%;}
.nav-item:after {content: '';display: block;width: 0px;height: 2px;background: #fec400;transition: 0.2s;}
.nav-item > .active {color: #fec400 !important;}

.navcol-link {padding:15px 5px;transition:0.2s;}
.navcol-link:hover {color: #fff;}
.navcol-item:hover::after {width:100%;}
.navcol-item:after {content: '';display: block;width: 0px;height: 2px;background: #fec400;transition: 0.2s;}
.navcol-item > .active {color: #fec400 !important;}
.container {width:80%;margin: 0 auto;}

.align-left {text-align:left;}
.align-center{text-align: center;}
.align-justify {text-align: justify;}

.float-right{float:right;}
.fixtop {padding-top:50px;}

.bg-dark {background-color: #222222 !important;}

@media all and (min-width: 600px) {
.content {background-color:white;margin-top:30px;padding-top: 10px;border-radius: 2px 2px 2px 2px  black;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);}
.flex-container {padding: 0;margin: 0;list-style: none;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-flex-flow: row wrap;}
}
@media all and (max-width:600px) {
  .flex-container {padding: 0;margin: 0;list-style: none;}
  .content {width:100% !important;background-color:white;margin-top:30px;padding-top: 10px;border-radius: 2px 2px 2px 2px  black;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);}
  .flexbox {width:100% !important;}
}
.content {padding-bottom:15px;}
.content-body {padding:10px 10px 10px 10px}
.hidden-content {margin-top:30px;padding-top:10px;width:16.67%;}
.userimage {transition:0.5s;margin-bottom: 30px;overflow:hidden;-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;width:150px;height:150px;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);}
.userimage:hover {transform:scale(1.3);}
.align-content {display:block;margin-left:auto;margin-right:auto;}

svg {width: 100%;display: block;}

.progressbar {position: relative;width: 200px;height: 200px;}

.progressbar > #bar, .progressbar > img {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

.progressbar > img {border-radius: 50%;/* Needs appropriate vendor prefixes */box-sizing: border-box;/* This needs to be equal to strokeWidth */padding: 4%;}



.circle-progressbar-icon {transition:0.5s;overflow:hidden;box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12);}
.circle-progressbar-icon:hover {transform:scale(1.1);border-radius:0px;overflow:visible;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;box-shadow: 0 0 0 0;}

@media all and (min-width:1180px) {
  .line {margin-top:0 !important;padding-top:0 !important;width:0 !important;}
}

@media all and (max-width:1100px) {
.jump {width:100% !important;}
#pleft {padding-right:50px;}
}

ul.timeline {list-style-type: none;position: relative;}ul.timeline:before {content: ' ';background: #d4d9df;display: inline-block;position: absolute;left: 32px;width: 2px;height: 100%;z-index: 400;}ul.timeline > li {margin: 20px 0;padding-left: 20px;}ul.timeline > li:before {content: ' ';background: white;display: inline-block;position: absolute;border-radius: 50%;border: 3px solid #222222;left: 20px;width: 20px;height: 20px;z-index: 400;}

.col-1 {width: 8.33%;}
.col-2 {width:16,66%;}
.col-3 {width:25%;}
.col-4 {width:33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width:50%;}
.col-7 {width:58.33%;}
.col-8 {width:66.66%;}
.col-9 {width:75%;}
.col-10 {width:83.33;}
.col-11 {width:91.66%;}
.col-12 {width:100%;}
